    .container__header {
        font-size: 30px;
        text-align: center;
    }

    .container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    
    }